.page {
  font-family: var(--tweet-font-family);
  color: var(--tweet-font-color);
  background: var(--tweet-bg-color);
  height: 100vh;
  overflow: auto;
  padding: 2rem 1rem;
}
.main {
  display: grid;
  justify-content: center;
  grid-template-columns: minmax(max-content, 550px);
}
.footer {
  font-size: 0.875rem;
  text-align: center;
  margin-top: -0.5rem;
}
